<div class="center jumbotron">
  <h1>ProjectPro</h1>

<%= link_to "ARE YOU READY ?", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %> <%= link_to "Want To Know More ?",about_path, class: "btn btn-danger btn-lg btn-xlarge" %>
<br><%= link_to "What, You're A Member ?", login_path, class: "btn btn-danger btn-lg btn-xlarge" %></br>
<h2><font color ="silver"><strong>PLACE FOR NON-EXPERIENCED STUDENTS GAIN EXPERIENCE..........</strong></font></h2>
<h2><font color ="silver"><strong>PLACE WHERE LIKE MINDED PEOPLE INTERACTION AND DO GROUP PROJECTS..........</strong></font></h2>
<h2><font color ="silver"><strong>HAVE A PROJECT IDEA BUT NO TEAM ??? NOT ANYMORE MY FRIEND..........</strong></font></h2>
</div>
